@{
    ViewData["Title"] = "Privacy Policy";
}


<form id="loginForm">
    <input type="email" name="email" id="email" placeholder="Email" class="mt-3" required /><br/><br/>

    <input type="text" name="subject" id="subject" placeholder="Subject" required /><br /><br />
    <input type="text" name="content" id="content" placeholder="Content" required /><br /><br />
    <button type="submit" class="btn btn-primary login" style="font-size:20px">Send Mail</button>
</form>

<script src="~/js/Index.js" asp-append-version="true"></script>